

/build
/package
/.idea
/.svelte-kit/
/.vercel/

test-results
node_modules

# Output
.output
.vercel

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.prod

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
