/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background-color: #e7e6f7;
	--font-color: #322659;
	--font-color-secondary: #6b46c1;

	--lavender-web: #e7e6f7ff;
	--queen-pink: #e3d0d8ff;
	--heliotrope-gray: #aea3b0ff;
	--periwinkle-crayola: #c6d2edff;
	--plump-purple: #6b46c1ff;
	--plump-purple-light: rgba(107, 70, 193, 0.5);
	--russian-violet: #322659ff;

	--scrollbarBG: #cfd8dc;
	--thumbBG: #90a4ae;

	background-color: var(--background-color);
	font-size: 16px;
}

body,
div,
p,
span {
	color: var(--font-color);
}

div::-webkit-scrollbar {
	width: 7px;
}
div {
	scrollbar-width: thin;
	scrollbar-color: var(--russian-violet) var(--plump-purple);
}
div::-webkit-scrollbar-track {
	background: var(--russian-violet);
}
div::-webkit-scrollbar-thumb {
	background-color: var(--plump-purple);
	border-radius: 6px;
	border: 3px solid var(--russian-violet);
}

