@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));
@theme {
	--color-background-color: #e7e6f7;
	--color-primary: #322659;
	--color-secondary: #6b46c1;
	--color-lavender-web: #e7e6f7ff;
	--color-lavender: #9d49d6;
	--color-queen-pink: #e3d0d8ff;
	--color-heliotrope-gray: #aea3b0ff;
	--color-periwinkle-crayola: #c6d2edff;
	--color-plump-purple: #6b46c1ff;
	--color-plump-purple-light: rgba(107, 70, 193, 0.5);
	--color-russian-violet: #322659ff;

	--color-scrollbarBG: #cfd8dc;
	--color-thumbBG: #90a4ae;

	--list-style-type: square;
}

:root {
	--background-color: #e7e6f7;

	background-color: var(--background-color);
	font-size: 16px;
}

@layer base {
	
	body {
		font-family: 'SF Pro', 'Inter', sans-serif;
		@apply bg-emerald-50 text-gray-700 dark:bg-emerald-950 dark:text-gray-200;
	}

	input,
	textarea {
		@apply border-2 border-emerald-700 p-2 focus:border-emerald-500 focus-visible:outline-none dark:border-emerald-200 dark:bg-emerald-50 dark:text-gray-700;
	}

	input {
		@apply h-[36px];
	}

	select {
		@apply h-[36px] min-w-[120px] border-2 border-emerald-700 p-2 focus:border-emerald-500 focus-visible:outline-none dark:border-emerald-200 dark:bg-emerald-50 dark:text-gray-700;
	}

	button {
		@apply w-fit rounded-sm bg-emerald-100 p-2 text-gray-700 transition-colors hover:bg-emerald-200 dark:text-gray-700;
	}
}

div::-webkit-scrollbar {
	width: 7px;
}
div {
	scrollbar-width: thin;
	scrollbar-color: var(--russian-violet) var(--plump-purple);
}
div::-webkit-scrollbar-track {
	background: var(--russian-violet);
}
div::-webkit-scrollbar-thumb {
	background-color: var(--plump-purple);
	border-radius: 6px;
	border: 3px solid var(--russian-violet);
}
